@import "tailwindcss";

@theme {
  --color-grey-800: #444444;
  --color-grey-500: #A0A0A0;
  --color-grey-200: #D8D8D8;
  --color-grey-100: #EFEFEF;
  --color-grey-50: #FAFAFA;

  --font-spartan: "League Spartan", sans-serif;
  --text-base: 16px;
  --leading-base: 140%;
  --tracking-base: -0.5px;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "League Spartan", sans-serif;
}